/* Since we're not using sass, we have to define the global styling here */
html, body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

footer {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-image: url(../img/footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color:#fff;
}

/* START CUSTOM STYLING */

.fd-center-div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.countdown-numeric {
  font-weight: 700;
  font-size: 4em;
  padding-left: 0.5em;
}

/* FOOTER CSS FOR THE TEXT */
.footer-text {
    position: absolute;
    bottom: 0;
    padding-left: 10em;
}
